html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      #map {
        /* configure the size of the map */
        height: 100%;
        margin-left: 350px;
    
        
        
		
      } 

  #country_info {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 1000;
  padding: 0;
  min-width: 300px;
  width: auto;
  height: auto;

}


.weather {
    width: 77%
}

