* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #444;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -545px;
} 

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #009688;
  
  }

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2; 
  border-top: 6px solid #F78104 ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
  }

  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      }
      100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      }

      @keyframes animate-preloader {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      }
      100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      }

      .navbar {
        background-color: #009688;
        min-width: 280px;
        width: 350px;
        height: 200px;
        
        text-align: center;
        position: absolute;      
        overflow: hidden;
        z-index: 10;
        margin-top: -5px;
        margin-left: -5px;
        
      }
      
      .navbar img {
        margin: 0px;
        min-width: 250px;
      }
      
      .navbar select {
        width: 250px;
        text-align: center;
        margin: auto;
      }

     @media screen and (max-width: 1024px) {
        .navbar {
          width: 100%;
          height: 200px;
          margin: auto;
        }
